
# conda install -c conda-forge swig boost-cpp sphinx sphinx_rtd_theme

streamlit==1.54.0
numpy==2.4.2
py3Dmol==2.5.4
stmol==0.0.9
vina==1.2.7
rdkit==2025.9.5
meeko==0.7.1
ipython-genutils==0.2.0
scipy==1.16.1
gemmi==0.7.4
prody==2.6.1
matplotlib==3.8.0
biopython==1.85